@font-face {
  font-family: 'HelveticaBold', sans-serif;
  src: url(../fonts/Helvetica\ Neu\ Bold.ttf);
}

@font-face {
  font-family: 'HelveticaLight', sans-serif;
  src: url(../fonts/HelveticaNeue\ Light.ttf);
}